<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- [DB연결 사용법] 1. SQL문 작성 하고 다음과 같은 양식으로 만들어준다. -->
<!-- sql문 작성 -->
<mapper namespace="eventMapper">
	<!-- 이벤트 목록 -->
	<select id="eventSelectALL" resultType="EventDTO">
		SELECT * FROM event
	</select>
	<!-- 이벤트 추가 -->
	<insert id="eventInsert" parameterType="EventDTO">
		INSERT INTO event
		(eventName,adminId,productNum,eventSize,eventKind,startDate,finishDate,reserDate)
		VALUES
		(#{eventName},#{adminId},#{productNum},#{eventSize},#{eventKind},#{startDate},#{finishDate},#{reserDate})
	</insert>
	
	<!-- 이벤트 중지 -->
	<update id="eventUpdate_finish" parameterType="EventDTO">
		UPDATE event 
		SET finishDate=#{finishDate}
		WHERE eventId=#{eventId}
	</update>
</mapper>