<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- [DB연결 사용법] 1. SQL문 작성 하고 다음과 같은 양식으로 만들어준다. -->
<!-- sql문 작성 -->
<mapper namespace="shop_product_mapper">

	<select id="SelectAll" resultType="Shop_ProductDTO">
		SELECT * FROM shop_product
	</select>
	
	<select id="show_product_info" parameterType ="Shop_ProductDTO" resultType="Shop_ProductDTO">
		SELECT * FROM shop_product WHERE productNum=#{productNum}
	</select>
	<select id="next_num" resultType="int">
		SELECT MAX(productNum)+1 FROM shop_product
	</select>
	<insert id = "insert_product" parameterType="Shop_ProductDTO">
		INSERT INTO shop_product
		(productNum,productName,benefit,price,createDate)
		VALUES
		(#{productNum}, #{productName},#{benefit},#{price},#{createDate})
	</insert>
	
	<update id="update_product" parameterType ="Shop_ProductDTO">
		UPDATE shop_product 
		SET 
		productName=#{productName},benefit=#{benefit},price=#{price}
		where productNum=#{productNum}
	</update>

	<delete id="delete_product" parameterType ="Shop_ProductDTO">
		delete from shop_product where productNum=#{productNum}
	</delete>

</mapper>