<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- [DB연결 사용법] 1. SQL문 작성 하고 다음과 같은 양식으로 만들어준다. -->
<!-- sql문 작성 -->
<mapper namespace="shopMapper">
	<!-- 사용자의 이용권 정보 검색 -->
	<select id="shopSelectOne_user" parameterType="UserDTO" resultType="ShopDTO">
		SELECT * FROM SHOP WHERE userId = #{userId}
	</select>
	
	<!-- 사용자 초기 이용권 정보 등록 -->
	<insert id="shopInsert_user" parameterType="ShopDTO">
		INSERT INTO SHOP
		(userId,productNum,reCount)
		VALUES
		(#{userId}, #{productNum},#{reCount})
	</insert>
	
	<!-- 사용자의 이용권 추가/변경 -->
	<update id="shopUpdate_outTime" parameterType="ShopDTO">
		UPDATE SHOP 
		SET productNum=#{productNum} ,checkOutTime=#{checkOutTime},reCount=#{reCount}
		WHERE userId=#{userId}
	</update>
	<!-- 사용자의 이용권 혜택 리셋 -->
	<update id="shopUpdate_reCount" parameterType="ShopDTO">
		UPDATE SHOP 
		SET reCount=#{reCount}
		WHERE userId = #{userId}
	</update>
	
	<!-- 사용권 정보 목록 -->
	<select id="shopProduct_info" resultType="Shop_ProductDTO">
		SELECT * FROM shop_product
	</select>
	
	
</mapper>