<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- [DB연결 사용법] 1. SQL문 작성 하고 다음과 같은 양식으로 만들어준다. -->
<!-- sql문 작성 -->
<mapper namespace="userMapper">
	<select id="userSelectALL" resultType="UserDTO">
		SELECT * FROM userdata order by creatTime desc
	</select>
	<!--연간 사용자 통계 _ 연령별 _ 월별 -->
	<select id="userSelect_month_age" parameterType="int" resultType="UserDTO">
		SELECT
		DATE_FORMAT(creatTime,'%m')as userName, COUNT(*)as cash
		FROM userdata
		WHERE YEAR(creatTime) = YEAR(SYSDATE())
		<if test="years != 0">
		AND CONVERT ( ((YEAR(SYSDATE())-YEAR(userBirth))/10) , SIGNED INTEGER )=#{years}
		</if>
		GROUP BY DATE_FORMAT(creatTime,'%m')
	</select>
	
	
	<select resultType="UserDTO" parameterType="UserDTO"
		id="userSelectAll">SELECT * FROM userdata</select>
	
	<select resultType="int"
		id="userSelectToday">SELECT count(userId) FROM userdata WHERE TO_DAYS(creatTime) = TO_DAYS(SYSDATE())</select>
	
	<select resultType="UserDTO" parameterType="UserDTO" id="userSelectOne">SELECT * FROM userdata WHERE userId=#{userId}</select>
	
	<select id="userSelectIf"  resultType="UserDTO" parameterType="UserDTO">
	SELECT * FROM userdata
	<if test="userId != ''">
	WHERE userId like CONCAT('%',#{userId},'%') 
	OR userName like CONCAT('%',#{userId},'%')
	</if>
	</select>
	
	<insert id="userInsert" parameterType="UserDTO" >
		INSERT INTO userdata
		(userId,userName,userPassword,userBirth,creatTime,userGender,userEmail,userEmailHash,userEmailCertified)
		VALUES
		(#{userId}, #{userName},
		#{userPassword},#{userBirth},#{creatTime},#{userGender},#{userEmail},#{userEmailHash},#{userEmailCertified})
	</insert>

	<update id="userModify" parameterType="UserDTO">
		UPDATE userdata SET
		userName=#{userName},userBirth=#{userBirth},
		userGender=#{userGender},userEmail=#{userEmail}
		WHERE userId=#{userId}
	</update>
	
	<update id="userEmailCheck" parameterType="UserDTO">
		UPDATE userdata SET
		userEmailCertified=1
		WHERE userId=#{userId}
	</update>
	
	<update id="userUpdate_Cash" parameterType="UserDTO">
		UPDATE userdata SET
		cash=#{cash}
		WHERE userId=#{userId}
	</update>
	<delete id="userDelete" parameterType="UserDTO">
		DELETE FROM userdata
		WHERE userId=#{userId}
	</delete>
	<update id="userModify_remark" parameterType="UserDTO">
		UPDATE userdata SET
		userRemark=#{userRemark}
		WHERE userId=#{userId}
	</update>
	
</mapper>